<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>无标题页</title>
    <meta charset="utf-8">
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            $('#t1').on('keyup', function() {
                $('#v1').text($(this).val());
                $("#v1").css("background-color","#FFFFCC");
            });
            $('#t2').on('keydown', function() {
                $('#v2').text($(this).val());
                $("#v2").css("background-color","#FFFFCC");
            });
            $('#t3').on('keypress', function() {
                $('#v3').text($(this).val());
                $("#v3").css("background-color","#FFFFCC");
            });
        });
    </script>

</head>
<body>
<textarea id="t1"></textarea>
<div id="v1">
</div>
<textarea id="t2"></textarea>
<div id="v2">
</div>
<textarea id="t3"></textarea>
<div id="v3">
</div>
</body>
</html>